body {
  background: #CCCCCC;
  padding: 50px;
  font-family: 'Merriweather', serif;

}

.well {
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
}

.btn {
  background: #A3211F;
  background: -webkit-linear-gradient(top, #8B211F 0%, #8B211F 50%);
  background: linear-gradient(to bottom, rgba(212, 101, 101, 1) 0%, rgba(191, 11, 11, 1) 50%);
  border-color: #B4211F;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  border-width: 1px;
}

.btn:hover {
  background: #8B211F;
  background: -webkit-linear-gradient(top, #A3211F 0%, #A3211F 100%);
  background: linear-gradient(to bottom, rgba(212, 101, 101, 1) 0%, rgba(191, 11, 11, 1) 100%);
  border-color: rgba(230, 18, 18, 1);
  color: white;
  border-width: 1px;
}

/*Home Page*/

#homepagediv {
  background-color: #D9D9D9;
  background: rgba(195, 195, 195, .5);
  padding: 14px;
  border-radius: 25px;
}

#homepage {
  background-image: url("../images/homepage.jpg") !important;
  background-size: 100%;
  background-position: fill;
}

#hometitle {
  font-size: 20px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

/*Header*/

#signupmodal {
  margin: 0 auto;
  text-align: center;
}

#loginmodal {
  margin: 0 auto;
  text-align: center;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

/*navbar*/

#navbarimage {
  max-width:40px;
  margin-top: -7px;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: #B81C1A !important;
  padding-top: -7px;
}


/*DB Search Results Page*/

.dbsearch.top.container {
  padding: 15px;
}

#sidebar {
  padding-top: 20px;
  margin-top: 0px;
}

#dbresults {
  margin-top: 20px;
}

#patioonly {
  width: 50px;
}

#inside {
  width: 50px;
}

.inside {
  text-align: center;
}

/*Yelp Search Page*/

.yelpsearchdiv {
  margin-top: 60px;
}

.bubble
{
margin-top: 20px;
margin-left: 70px;
margin-bottom: -130px;
position: relative;
display:inline-block;
max-width:250px;
min-height:1.5em;
padding: 15px;
background: #FFFFFF;
border: white solid 4px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.bubble:after
{
content: "";
position: absolute;
bottom: -15px;
left: 60%;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble:before
{
content: "";
position: absolute;
bottom: -19.5px;
left: calc(60% - 3px) ;
border-style: solid;
border-width: 18px 18px 0;
border-color: white transparent;
display: block;
width: 0;
z-index: 0;
}
/*Yelp Search Results Page*/

#yelpresults {
  margin-top: 50px;
}

/*Favorites Page*/

.favoriteheading {
  font-family: 'Dancing Script', cursive !important;
  font-size: 45px;
  color: #B81C1A !important;
}

/*about page*/

.about {
margin-top: 50px;
}

.about p {
  margin: 20px;
}

#aboutme {
  width: 190px;
  height: 190px;
  border:2px solid #fff;
  -moz-box-shadow: 0px 6px 5px #888888;
  -webkit-box-shadow: 0px 6px 5px #888888;
  box-shadow: 0px 6px 5px #888888;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
}

#abouttext {
  max-width: 500px;
  position: middle;
  margin: 30px auto;
}



