body {
  background: gray;
  padding: 50px;

}


/*Header*/

#signupmodal {
  margin: 0 auto;
  text-align: center;
}

#loginmodal {
  margin: 0 auto;
  text-align: center;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

/*Home Page*/

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

/*DB Search Results Page*/

.dbsearch.top.container {
  padding: 30px;
}

#sidebar {
  padding-top: 20px;
  margin-top: 20px;
}

#dbresults {
  margin-top: 65px;
}


/*Yelp Search Page*/

.yelpsearchdiv {
  margin-top: 45px;
}

/*Yelp Search Results Page*/

#yelpresults {
  margin-top: 50px;
}

/*Database Results*/

.patioonly, .allowedinside {
  display: inline-block;
}


