<% include ../partials/header %>

<div class="Absolute-Center is-Responsive">
<div class="control-group">
  <h1 class="text-center" id="errortext">Sorry, the page you are looking for was not found.</h1>
</div>
</div>

<% include ../partials/footer %>