<% include ../partials/header %>


<div class="container">

<div class="about row text-center">
    <img src="/images/inside.png" alt="aboutimage" class="img-responsive center-block img-circle">
    <p>About me</p>


</div>
</div>


<% include ../partials/footer %>