<% include ../partials/header %>


<div class="container">

<div class="about row text-center">
    <img src="/images/aboutme.jpg" alt="aboutimage" class="img-responsive center-block img-circle" id="aboutme">
    <p>About me</p>


</div>
</div>


<% include ../partials/footer %>