<% include ../partials/header %>


<div class="container">

<div class="about image row text-center">
    <img src="/images/aboutme.jpg" alt="aboutimage" class="img-responsive center-block img-circle" id="aboutme">
</div>
<div class="well about text-center" id="abouttext">
  <p>Hi! I'm Katie and I'm a pet parent to Riley, a Border Collie/English Shepherd mix who inspired the creation of Doggy Dates. I built this site in order to help us dog owners in Seattle find restaurants where their dogs could come and join the fun, so that we don't have to leave them behind.</p>

  <p>If you would like to get in touch, please email me at kgilmur@gmail.com.</p>
</div>
</div>


<% include ../partials/footer %>