<% include ../partials/header %>

<div class="bubble text-center">Search Yelp for another dog-friendly restaurant! Then add it to our database, and save it to your favorites!</div>
<div class="yelpsearchdiv">
<form class="form" action="/yelp/search" method="get">
  <div class="row">
    <div class="form-group col-md-6 col-sm-offset-3">
      <input type="text" name="q" class="form-control input-lg text-center" id="searchbox" placeholder="Search for a restaurant">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 col-sm-offset-3">
      <input type="submit" value="Search Yelp" class="btn btn-primary btn-lg btn-block">
    </div>
  </div>

</form>
</div>


<% include ../partials/footer %>